doctype html
html
  head
    title AIDA
    block scripts
    block style
  body
    nav#navbar
        ul 
            div#logo
                img(src="/static/images/mainlogo.png",alt="") 
                | AIDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/contact") Contact us]
            li #[a(href="/") Class Info]

    block content
    footer#footer 
        | Copyright 2021 &copy; All India Dance Academy All rights reserved!